<%- include("partials/header_unauth") %>


<h1><span style="color: #3366ff;">Mohini Devi Memorial School</span></h1>
<h3><span style="color: #800000;">A leading school in primary, secondary and senior secondary&nbsp; education.</span></h3>
<ul>
<li>
<blockquote><span style="color: #003300;">High Class Infrastructure&nbsp;</span></blockquote>
</li>
</ul>
<ul>
<li style="text-align: justify;">
<blockquote><span style="color: #003300;">Well Faciliated IT Department</span></blockquote>
</li>
</ul>
<ul>
<li>
<blockquote><span style="color: #003300;">Quality Sports and Playground&nbsp;</span></blockquote>
</li>
</ul>
<ul>
<li>
<blockquote><span style="color: #003300;">Renowned Teachers</span></blockquote>
</li>
</ul>
<ul>
<li>
<blockquote><span style="color: #003300;">Consitent Top Results in Board Exams</span>&nbsp;</blockquote>
</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>

<%- include("partials/footer") %>
