<%- include("partials/header") %>

<h1 class="heading">Instructions</h1>
Instructions To Be Added Here
<br><br>
<a href="/user"><h4 class="subheading" style="text-align:center; border:1px;">Proceed To Next Step</h4></a>

<%- include("partials/footer") %>
