<%- include("partials/header_unauth") %>

<h1 class="heading">Login</h1>

<div class="col-lg-6 col-md-8 formdiv">


<form class="" action="/login" method="post">


  <div class="form-row">
    <!-- <label for="username">Email</label> -->
    <input type="email" class="form-control" name="username" placeholder="Email" required>
  </div>
  <div class="form-row">
    <!-- <label for="password">Password</label> -->
    <input type="password" class="form-control" name="password" placeholder="Password" required>
  </div>
  <button type="submit" class="btn btn-primary form-control" name="button">Login</button>
</form>
<br>
<a href="/register"><h4 class="subheading" style="text-align:center;">New user? Register Here</h4></a>
</div>


<%- include("partials/footer") %>
